/* Estilo general para la Navbar */
.navbar {
    background-color: #600000; /* Color de fondo similar al de la imagen */
    color: #ffffff; /* Texto en blanco */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

body {
    margin: 0; /* Elimina los márgenes del body para que la navbar esté completamente arriba */
    padding-top: 60px; /* Espacio para evitar que el contenido se superponga a la navbar */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .user-role {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Para centrar el rol del usuario */
    text-align: center;
}

.navbar .user-profile {
    display: flex;
    align-items: center;
}



.navbar .user-profile a {
    margin-left: 10px; /* Añade un margen izquierdo al enlace de Logout */
    color: #ffffff; /* Asegura que el texto del enlace también sea blanco */
    text-decoration: none; /* Remueve subrayado */
}

.navbar .user-profile a:hover {
    text-decoration: underline; /* Agrega subrayado al hacer hover */
}

.btn-logout {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.btn-logout:hover {
    text-decoration: underline;
}



/* materias */


/* home */
/* Contenedor centrado */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Grid para las materias */
.materias-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 600px;  /* Ajusta el ancho máximo para centrar */
}

/* Estilos para los botones de las materias */
.materia-btn {
    display: block;
    width: 100%;
    max-width: 300px;  /* Ajusta el ancho máximo de los botones */
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.materia-btn:hover {
    background-color: #f5f5f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


/* Estilos para la tabla de alumnos */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Estilos para las cabeceras de la tabla */
.table thead th {
    background-color: #600000; /* Color de fondo para las cabeceras */
    color: #ffffff; /* Color del texto en las cabeceras */
    padding: 12px;
    text-align: left;
}

/* Estilos para las celdas de la tabla */
.table tbody td {
    background-color: #ffffff; /* Color de fondo para las celdas */
    padding: 12px;
    border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
}

/* Alternar el color de fondo para filas */
.table tbody tr:nth-child(even) td {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

/* Estilo para el botón de acción dentro de la tabla */
.table .btn-primary {
    padding: 8px 16px;
    background-color: #600000; /* Color de fondo para el botón */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.table .btn-primary:hover {
    background-color: #450000; /* Color de fondo para el botón al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el mensaje de vaciado */
.table td[colspan="4"] {
    text-align: center;
    padding: 20px;
    color: #888;    
}


/* login principal */

/* Contenedor principal del formulario */
.login-container {
    max-width: 500px; /* Ajustado para un contenedor más estético */
    margin: 40px auto; /* Espacio superior e inferior y centrado automático */
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 20px; /* Añadido para bordes ligeramente redondeados */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Suavizado para una mejor profundidad */
}

/* Encabezado del formulario */

.login-header {
    text-align: center;
    color: white;
    background-color: #800000;
    padding: 20px;
    font-size: 1.8em; /* Tamaño del texto incrementado */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top-left-radius: 10px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 10px;
}

/* Contenido del formulario */
.login-form {
    padding: 30px;
    display: flex;
    flex-direction: column; /* Alineación en columna para los campos */
}

/* Espaciado entre campos del formulario */
.login-form div {
    margin-bottom: 20px; /* Espacio reducido para una apariencia más compacta */
}

/* Estilo para las etiquetas del formulario */
.login-form label {
    display: flex;
    align-items: center;
    color: #555;
    font-weight: bold;
    font-size: 1em;
}

/* Espaciado entre el texto y el campo de entrada */
.login-form label span {
    margin-right: 10px;
}

/* Estilo para los campos de entrada */
.login-form input {
    width: 100%;
    padding: 12px; /* Ajustado para un tamaño más elegante */
    border: 1px solid #ccc;
    font-size: 1em;
    border-radius: 5px; /* Bordes ligeramente redondeados */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

/* Estilo para los campos de entrada cuando están enfocados */
.login-form input:focus {
    border-color: #800000;
    outline: none;
}

/* Contenedor del botón de envío */
.login-button-container {
    text-align: center;
    margin-top: 20px; /* Espacio superior reducido */
}

/* Estilo para el botón de envío */
.login-button-container button {
    background-color: #800000;
    color: white;
    padding: 12px 24px; /* Ajustado para un tamaño más proporcionado */
    border: none;
    border-radius: 5px; /* Bordes ligeramente redondeados */
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo para el botón cuando se pasa el ratón sobre él */
.login-button-container button:hover {
    background-color: #20e706;
    transform: translateY(-2px);
}

/* Estilo para el botón cuando se hace clic en él */
.login-button-container button:active {
    background-color: #600000;
    transform: translateY(0);
}



/* Estilo para el pie del formulario */
.login-footer {
    text-align: center;
    margin-top: 20px; /* Espacio superior reducido */
    color: #777;
    font-size: 0.9em; /* Tamaño de fuente reducido para una apariencia más ligera */
}

/* Estilo para los enlaces en el pie del formulario */
.login-footer a {
    color: #800000;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para los enlaces cuando se pasa el ratón sobre ellos */
.login-footer a:hover {
    text-decoration: underline;
}

